:root {
  font-size: 20px;
  --slidev-code-font-size: 16px;
  --slidev-code-line-height: 1.5em;
  --slidev-code-margin: 0;
}

.slidev-layout h1 {
  font-weight: 800;
  font-size: 2rem;
}

.slidev-layout a {
  font-size: 0.8rem;
  color: #006c8a;
}

.slidev-layout li {
  line-height: 1.5em;
  margin-bottom: 0.5rem;
  li {
    list-style-type: disc;
  }
}

.slidev-layout li::marker {
  color: #00bdf2;
}

.slidev-layout h1 + p {
  opacity: 0.8;
}

.slidev-layout.cover h1 + p {
  opacity: 0.9;
  font-size: 1.5rem;
}

.slidev-layout {
  h1, p {
    .number {
      color: #00bdf2;
    }
  }
}

.slidev-layout.section h1 + p {
  font-size: 1.75rem;
}

.slidev-layout.section h1 {
  font-size: 2.75rem;
}

li.slidev-vclick-current {
  font-weight: 800;
}

.two-cols-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 40px;
}

.reference {
  margin-block: 1rem;
}

.reference p {
  margin: 0;
}

.error-output {
  color: #a31515;
  margin-block: 8px;
}

.twoslash .twoslash-meta-line.twoslash-error-line {
  width: 100%;
  text-wrap-mode: wrap;
}